input,td,th{text-align:right;font-size:large}
#converted,body,input,td,th{font-size:large}
td,th{vertical-align:top}
#converted{color:red;font-weight:700}
input{border:none;border-radius:20px;padding:5px}
body{background-color:#007A7A;font-family:"Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace}
h1{width:97.5%;text-align:center;font-weight:400;font-family:"Brush Script MT",cursive;background:#002E3D;padding:5px 15px;color:#fff;display:inline-block;border-radius:10px}